.glassy {
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.side{

    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.sent-message {
    background-color: #007bff;
    color: #fff;
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
  }
  
  .received-message {
    background-color: #f1f1f1;
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
  }
  